@import './iconfont.less';

button {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  border-radius: 0;

  &:after {
    border: none;
  }
}

page {
  height: 100%;
}

.top-bar {

}

.create-type {
  color: #009688;
}
