@font-face {
  font-family: 'iconfont';  /* project id 864209 */
  src: url('//at.alicdn.com/t/font_864209_gxf7s1axvc8.eot');
  src: url('//at.alicdn.com/t/font_864209_gxf7s1axvc8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_864209_gxf7s1axvc8.woff') format('woff'),
  url('//at.alicdn.com/t/font_864209_gxf7s1axvc8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_864209_gxf7s1axvc8.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before { content: "\e629"; }

.icon-wenhao:before { content: "\e671" }

.icon-duihao:before { content: "\e60b" }
